{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Untitled Document
			{% endblock title %}
		</title>
		<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
	</head>
	<body>
		<div id="navbar">
			<div id="logo" class="logo-container">
				<img src="{% static 'logo.png' %}" alt="">
			</div>
			<nav id="nav">
				<ul>
					{% block navbar %}
						<li>Menu 1</li>
						<li>Menu 2</li>
						<li>Menu 3</li>
					{% endblock navbar %}
				</ul>
			</nav>
		</div>
		<div id="wrapper">
			<section id="main">
				<body>
					<div class="login-container">
						<h2>Login to Fitchallenge</h2>
						<form action="login.php" method="POST">
							<div class="input-group">
								<label for="username">Username</label>
								<input type="text" id="username" name="username" required>
							</div>
							<div class="input-group">
								<label for="password">Password</label>
								<input type="password" id="password" name="password" required>
							</div>
							<button type="submit">Login</button>
						</form>
					</div>
				</body>
			</section>
		</div>
		<footer id="footer">Copyright &copy; 2024 FitChallenge.co</footer>
	</div>
	</body>
</html>