@charset "utf-8";

body {
	background-color: #474747;
	font-family: Arial;
	font-size: 0.9em;
	text-align: justify;
	color: #ffffff;
	background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

.logo-container img {
    width: 100px;
    height: auto;
}

#wrapper {
	margin: 0 auto;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#navbar {
    background-color: #CB1818;
    border-bottom: thin solid #BBBBBB;
    padding: 10px 20px;
	display: flex;
    justify-content: space-between;
}

#nav {
    display: flex;
    align-items: center;;
	margin-top: 0;
	margin-bottom: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
	display: flex;
}

#nav li {
    margin-right: 10px;
    font-size: 1em;
    color: #ffffff;
	position: relative;
}

#nav li:last-child {
    margin-right: 0;
    border-bottom: none;
}

#nav li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5em;
}

#nav li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #FFFFFF;
    transition: width 0.3s;
}

#nav li a:hover::after {
    width: 100%;
}

#main {
	margin-top: 100px;
	text-align: center;
	padding: 0 20px;
}

.daily-challenge {
    background-color: #ffffff;
	border-radius: 10px;
	color: #474747;
    padding: 10px;
    margin-top: 20px;
}

.joinButton {
    background-color: #3884e7;
}

.joinButton.joined {
    background-color: #0fcb1b;
}

#footer {
	text-align: center;
	font-size: 0.8em;
	margin-top: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	border-top: thin solid #BBBBBB;
	clear: both;
	color: #969696;
}
